<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E2070621F1AF8AD0014C2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E20707B1F1AF8AD0014C2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E2070861F1AF8AD0014C2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
