<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>电台项目.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F35715D1F146ADD00481057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F3571761F146ADD00481057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F3571811F146ADD00481057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
